@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
   --color-logo: #8bc0cc;
   --color-uno: #828282;
   --color-dos: #c5c5c527;

   --titulos: #444444;
   --parrafos:
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Rubik', sans-serif;
   font-size: 1rem;

}

.header {
   overflow: hidden;
   background-color: rgb(255, 255, 255);
   position: fixed;
   top: 0;
   width: 100%;
   height: auto;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 1;
}

.header__img {
   width: 170px;
   height: 50px;
}

.header__items {
   display: flex;
   gap: 15px;
   height: 100%;
}

.header__logo {
   height: 40px;
}

.header__tel {
   display: flex;
   align-items: center;
   gap: 5px;
}

.headre__circulo {
   width: 50px;
   height: 50px;
   background-color: rgba(197, 197, 197, 0.154);
   border-radius: 50%;
   text-align: center;
   line-height: 50px;
   cursor: pointer;
}

i {
   color: var(--color-logo)
}

.header__textos a {
   text-decoration: none;
   color: var(--color-uno)
}

.nav {
   background-color: var(--color-dos);
   height: 70px;
   width: 90%;
   border-radius: 18px;
   text-align: center;
   line-height: 60px;
   margin-top: 80px;
   margin-left: 7%;
   margin-right: 7%;
}

.nav__button {
   border: none;
   background: var(--color-logo);
   border-radius: 10px;
   height: 40px;
   width: 150px;
   color: white;
   padding: 10px;
   font-size: 1rem;
   border-left: 20px;
   text-decoration: none;
}

.nav__button i {
   color: white;
}

.nav__button:hover {
   box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.142);
   transition: .2s;
}

.textos__h1 {
   text-align: center;
}


.section {
   margin-bottom: 0;
}

.section__img {
   width: 100%;
   height: 70vh;
   object-fit: cover;
   background-size: cover;

}

.section__textos img {
   height: 250px;
   width: 300px;
   /*   background-repeat: no-repeat;
   background-image: url(../img/cofepris.png);
   background-size: cover; */

   position: absolute;
   top: 40vh;
   left: 40vw;

}

/* fin de header nav y section */

.parrafo1 {
   background-color: var(--color-logo);

   color: white;
   padding: 25px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   font-size: 20px;
   font-size: 1em;
}

.parrafo1__cards {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 20px;
}

.parrafo1__img {
   width: 40px;
}

.parrafo1__card {
   background-color: white;
   width: 60px;
   height: 35px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.video {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: center;
   gap: 15px;
   background-color: rgba(205, 205, 205, 0.275);
}

.video__link {
   padding: 20px;
   text-align: center;
   width: 560px;
   height: 360px;
}

.video__textos__titulo {
   color: var(--titulos)
}

.video__textos {

   width: 50%;
   padding: 20px;
   text-align: center;
   font-size: 1em;
   color: var(--color-uno);
}

.video__difernte {
   width: 100%;
}

.promostico {
   padding: 20px;
}

.promostico__titulo {
   color: var(--titulos);
   margin-bottom: 10px;
}

.promostico p {
   color: var(--color-uno);
   margin-bottom: 10px;
}

.promostico p:nth-child(3) {
   margin-bottom: 20px;
}


.pronostico__btn {
   width: 100%;
   height: 500px;
   background-color: #8bc0cc;
   color: white;
   text-decoration: none;
   padding: 10px 40px;
   border-radius: 10px;
}

.pronostico__btn:hover {
   box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.142);
   transition: .2s;
}


.galeria__imags {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 5px;
}

.garleria__titulo {
   text-align: center;
}

.galeria__imags img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   font-size: cover;

}

.programas {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.programa__img {
   width: 300px;
   height: 300px;
   background-size: cover;
   object-fit: cover;
}

section {
   margin-top: 10px;

}

.textos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.textos__xy {
   width: 800px;
   height: 500px;

}

.textos2 {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-evenly;

}

.textos__img1 {
   width: 800px;
   height: 500px;
   background-color: rgb(0, 145, 255);
}

.textos__img1 img {
   width: 100%;
   height: 100%;
}

.btn__llama {
   background-color: var(--color-logo);
   width: 40%;
   height: 50px;
   padding: 30px;
   text-align: center;
   border-radius: 10px;
   text-decoration: none;
   color: white;

}

.contenedor__btn {
   margin-top: 5%;
   text-align: center;
}

.btn__llama:hover {
   box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.142);
   transition: .2s;
}

.espacio {
   margin-left: 35px;
}



.titulos {
   color: var(--titulos);
   font-size: 1.7rem;
   margin: 10px;
   text-transform: uppercase;
}



.textoUno__dos {
   width: 700px;
   height: 500px;
   object-fit: cover;
   background-size: auto;
   background-repeat: no-repeat;

}

.textosDos {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-around;
}

.textosDos__uno {
   width: 500px;
   height: 400px;

   object-fit: cover;
}

.textosDos__dos {
   width: 500px;
   height: 400px;

   background-image: url(../img/textos/actividades4.jpg);
}

p img {
   display: block;
   margin: auto;
}


.mapa {
   width: 100%;
   height: 400px;
}

.footer {
   background-color: var(--color-logo);
   color: white;
   font-size: 20px;
   height: 50px;
   width: 100%;
   text-align: center;
   padding: 10px;
}



/* Modal */

.modal-contenido {
   background-color: rgba(212, 211, 211, 0.66);
   width: 300px;
   padding: 10px 20px;
   margin: 20% auto;
   margin-top: 50%;
   position: relative;
}

.modal {
   background-color: rgba(0, 0, 0, .8);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   transition: all 1s;
}

.modal-cuadro {
   height: 100%;
   width: 100%;
   margin-top: 15px;
   background: white;
   background-size: cover;
   object-fit: cover;
}

.modal-cuadro img {
   height: 100%;
   width: 100%;
}

#miModal:target {
   opacity: 1;
   pointer-events: auto;
}

#miModal2:target {
   opacity: 1;
   pointer-events: auto;
}

button.wh-ap-btn {
   outline: none;
   width: 60px;
   height: 60px;
   border: 0;
   background-color: #2ecc71;
   padding: 0;
   border-radius: 100%;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   cursor: pointer;
   transition: opacity 0.3s, background 0.3s, box-shadow 0.3;
   z-index: 1;
}

button.wh-ap-btn::after {
   content: '';
   background-image: url('//i.imgur.com/cAS6qqn.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 48%;
   width: 100%;
   height: 100%;
   display: block;
   opacity: 1;
}

button.wh-ap-btn:hover {
   opacity: 1;
   background-color: #20bf6b;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wh-api {
   position: fixed;
   bottom: 0;
   left: 0;
}

.wh-fixed {
   margin-left: 15px;
   margin-bottom: 15px;
}

.wh-fixed>a {
   display: block;
   text-decoration: none;
}

button.wh-ap-btn::before {
   content: 'Whatsapp';
   display: block;
   position: absolute;
   margin-left: 70;
   margin-top: 16px;
   height: 25px;
   background-color: #333;
   color: #fff;
   border-radius: 3px;
   width: 0;
   opacity: 0;
   padding: 0;
   transition: opacity 0.4s, width 0.4s, padding 0.5s;
   padding-top: 7px;
}

.wh-fixed>a:hover button.wh-ap-btn::before {
   opacity: 1;
   width: auto;
   padding-top: 7px;
   padding-left: 10px;
   padding-right: 10px;
   width: 80px;
}

.gallery {
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
   -webkit-column-width: 33%;
   -moz-column-width: 33%;
   column-width: 33%;
}

.gallery .pics {
   -webkit-transition: all 350ms ease;
   transition: all 350ms ease;
}

.gallery .animation {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

@media (max-width: 450px) {
   .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
   }
}

@media (max-width: 400px) {
   .btn.filter {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
   }
}

/* Fin de Modal */

@media screen and (max-width:688px) {
   .header {
      position: fixed;
      bottom: 92%;
      height: 80px;
   }

   .header__img {
      margin-bottom: 15px;
   }

   .header__tel:nth-child(2) {
      display: none;
   }

   .section__textos img {

      position: absolute;
      top: 35%;

   }

   /* fin de header nav y section */
   .textoUno__uno {
      width: 100%;
      height: 350px;

   }

}

@media screen and (max-width: 562px) {

   .header {
      height: 140px;
   }

   .nav {
      margin-top: 140px;
   }



   .section__textos {
      height: 200px;
      width: 350px;
      position: absolute;
      top: 40vh;
      left: -90px;
   }

   /* fin de header nav y section */

   .galeria__imags {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 5px;
   }
}

@media screen and (max-width: 414px) {


   .section__textos {
      position: absolute;
      top: 50vh;
   }

   /* fin de header nav y section */


}

@media screen and (max-width: 414px) {

   .section__textos {
      position: absolute;
      top: 40%;
      right: 120px;
   }

   /* fin de header nav y section */
}

@media screen and (max-width:360px) {

   .header {

      margin-bottom: 150px;

   }

   /* fin de header nav y section */
}